/***** General *****/

* {
    font-family: "Open Sans", sans-serif;
}

body {
    margin: 80px 24px;
}

p {
    margin: 0;
}

h1 {
    margin: 0;
}

/***** Header *****/

.title {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 32px;
}

/***** Cards *****/

.container_cards {
    padding: 40px 0px;
    width: 100%;
}

.top_card_container {
    display: flex;
    margin-bottom: 14px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 4px;
    box-shadow: rgba(18, 16, 55, 0.16) 0px 3px 8px;
}

.top_card {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
}

.code_promos {
    display: flex;
    align-items: center;
    gap: 12px;
    border: 2px dashed rgba(0, 0, 0, 1);
    border-radius: 4px;
    padding: 12px 24px;
    font-size: 24px;
    color: rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.code_promos:hover {
    background-color: rgb(215, 215, 215);
}

.img_copy {
    width: 24px;
    height: 24px;
}

.valid_offer {
    color: rgba(0, 0, 0, 1);
    font-size: 16px;
}

.banner_promos-01 {
    background-color: rgba(245, 3, 109, 1);
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}

.banner_promos-02 {
    background-color: rgba(56, 72, 28, 1);
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}

.banner_promos-03 {
    background-color: rgba(148, 0, 255, 1);
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}

.banner_promos-04 {
    background-color: rgba(255, 213, 0, 1);
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 20px;
    color: rgba(0, 0, 0, 1);
    text-align: center;
}

.banner_promos-05 {
    background-color: rgba(243, 32, 54, 1);
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}

.text_promos {
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
}


.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 14px;
}

.card_container {
    display: flex;
    width: calc(50% - 12px);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 4px;
    box-shadow: rgba(18, 16, 55, 0.16) 0px 3px 8px;
}

.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
}

.subscribe {
    display: flex;
    align-items: center;
    gap: 12px;
    border: 2px solid rgba(0, 0, 0, 1);
    border-radius: 4px;
    padding: 12px 24px;
    font-size: 24px;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 1);
    cursor: pointer;
}

.subscribe:hover {
    background-color: rgb(215, 215, 215);
}

/***** Warning *****/

.warning_container {
    display: flex;
    background-color: rgba(255, 240, 229, 1);
    border-radius: 4px;
}

.warning {
    display: flex;
    align-items: center;
    padding: 16px;
    gap: 8px;
    font-size: 16px;
}

/***** Code Promo *****/

.container_code-promo {
    padding: 40px 0px;
}

.code-promo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 24px;
}

.tuto_code-promo {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.code_promo-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.code_promo-img {
    padding: 28px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 32px;
    box-shadow: rgba(18, 16, 55, 0.16) 0px 3px 8px;
}

.code_promo-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
}

.text_color {
    color: rgba(148, 0, 255, 1);
}

/***** Footer info *****/

.footer_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(249, 240, 255, 1);
    border-radius: 80px;
    padding: 40px 24px;
}

.footer_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 900px;
    text-align: center;
    font-size: 16px;
    gap: 24px;
}

.img_footer {
    width: 100%;
    height: 500px;
}

.footer_text-big {
    font-size: 32px;
}


/***** Responsive *****/

@media (max-width: 768px) {
    
    body {
        margin: 40px 8px;
    }

    .title {
        font-size: 24px;
    }

    .top_card_container {
        border-radius: 32px;
    }

    .top_card {
        align-items: start;
    }

    .cards {
        flex-direction: column;
    }

    .card_container {
        width: 100%;
        border-radius: 32px;
    }

    .card {
        align-items: start;
    }

    .tuto_code-promo {
        flex-direction: column;
        gap: 24px;
    }

    .warning {
        align-items: start;
        flex-direction: column;
        gap: 4px;
    }

    .footer_container {
        padding: 24px 12px;
        border-radius: 32px;
    }

    .footer_info {
        font-size: 14px;
        text-align: start;
    }

    .img_footer {
        height: 170px;
    }

    .footer_text-big {
        font-size: 24px;
        text-align: center;
    }
}